In [5]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [6]:
df = pd.read_csv("Projet_clinique_Aut21.csv", sep=";", decimal=',')

In [7]:
df

     AGE TRAITTEST SEX  ...  BilirubineBL  SCOREBINLDL16sem  SCOREBINTG16sem
0     43   Placebo   F  ...           6.5           MAUVAIS              BON
1     55      Drug   F  ...           7.9               BON          MAUVAIS
2     49   Placebo   F  ...           5.8           MAUVAIS          MAUVAIS
3     40   Placebo   F  ...           3.6           MAUVAIS              BON
4     44      Drug   F  ...           6.2               BON              BON
..   ...       ...  ..  ...           ...               ...              ...
133   54      Drug   F  ...          15.0               BON          MAUVAIS
134   38   Placebo   M  ...          12.1           MAUVAIS          MAUVAIS
135   33   Placebo   M  ...          10.0           MAUVAIS          MAUVAIS
136   34      Drug   M  ...          10.6           MAUVAIS              BON
137   37      Drug   F  ...           9.2               BON          MAUVAIS

[138 rows x 13 columns]

In [8]:
df.shape

(138, 13)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                138 non-null    int64
 1   TRAITTEST          138 non-null    object
 2   SEX                138 non-null    object
 3   BMI                138 non-null    float64
 4   HDLBL              138 non-null    float64
 5   LDLBL              138 non-null    float64
 6   TGBL               138 non-null    float64
 7   ALATBL             138 non-null    float64
 8   GGT(microkat/L)BL  123 non-null    float64
 9   ASATBL             138 non-null    float64
 10  BilirubineBL       138 non-null    float64
 11  SCOREBINLDL16sem   138 non-null    object
 12  SCOREBINTG16sem    138 non-null    object
dtypes: float64(8), int64(1), object(4)
memory usage: 14.1+ KB

In [12]:
df["TRAITTEST"].unique()

array(['Placebo', 'Drug'], dtype=object)

EDA

In [ ]:
df.set_index('TRAITTEST')

In [ ]:
df.isnull().sum()

In [ ]:
df["GGT(microkat/L)BL"].unique()

In [ ]:
## Nous remarquons que nous avons des valeurs NaN (10%) qu'on remplacemra par la mediane : 
p = (15/138)*100
p

In [ ]:
df.fillna(df.median(), inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
correl = df.corr()
f,ax=plt.subplots(figsize=(30,30))
sns.heatmap(correl,cmap="Blues",annot=True)